/* Section-Customers */
/* Постійні клієнти */

.section-customers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
    flex-wrap: nowrap;
  }
}
.section-customers__item {
  flex-basis: calc((100% - 2 * 15px) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 4 * 15px) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 10 * 15px) / 6);
  }
}

.section-customers__link {
  display: flex;
  height: 92px;

  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--border-client-icon);
  fill: var(--border-client-icon);

  transition: fill var(--duration) var(--timing-function),
    border-color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--akcent-color);
    border-color: var(--akcent-color);
  }
}

.section-customers__icon {
  display: block;
  width: 106px;
  height: 60px;
}
