:root {
    --primary-color: #ffffff;
    --primary-teks-color: #212121;
    --secondary-teks-color: #757575;
    --background-color-hero: #c4c4c4;
    --hero-footer-color: #2f303a;
    --hero-btn-color: #188ce8;
    --hero-logo-color: #000000;
    --akcent-color: #2196f3;
    --auth-nav-color: rgba(255, 255, 255, 0.6);
    --button-color-nav: #f5f4fa;
    --border-heder-portfolio: #ececec;
    --border-project-item: #eeeeee;
    --border-client-icon: #afb1b8;
    --background-hero-image: rgba(47, 48, 58, 0.4);
    --box-shadow-section-avatar-one: rgba(0, 0, 0, 0.12);
    --box-shadow-section-avatar-two: rgba(0, 0, 0, 0.14);
    --box-shadow-section-avatar-three: rgba(0, 0, 0, 0.2);
    --box-shadow-radio-btn-one: rgba(0, 0, 0, 0.1);
    --box-shadow-radio-btn-two: rgba(0, 0, 0, 0.08);
    --box-shadow-radio-btn-three: rgba(0, 0, 0, 0.12);
    --box-shadow-project-item-one: rgba(0, 0, 0, 0.12);
    --box-shadow-project-item-two: rgba(0, 0, 0, 0.06);
    --box-shadow-project-item-three: rgba(0, 0, 0, 0.16);
    --background-footer-media: rgba(255, 255, 255, 0.1);
    --background-overlay-text: rgba(33, 150, 243, 0.9);
    --duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --border-footer-subscribe-btn: rgba(255, 255, 255, 0.3);
    --drop-shadop-footer-subscribe-btn: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    --input-email-footer-bc: #2f303a;
    --label-email-footer-color: rgba(255, 255, 255, 0.6);
    --btn-sumbit-modal-box-shadow: rgba(0, 0, 0, 0.15);
    --comment-textarea-color: rgba(117, 117, 117, 0.5);
    --comment-textarea-border: rgba(33, 33, 33, 0.2);
    --works-description-bc: rgba(47, 48, 58, 0.8);
    --main-font-family: Roboto,sans-serif;
       
}